* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.login-box {
  background-color: transparent;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  width: 350px;
}

h1 {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.4;
  text-align: center;
  color: black;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 15px;
  padding: 2px;
  border-style: solid;
  border-color:black;
  border-width: 2px;
  font-size: 16px;
  background-color: #f9f9f9;
}

button {
  background-color: #cfcfcf;
  color: black;
  border: none;
  padding: 3px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
  width: 60%;
  border-radius: 6px;
  border-style: solid;
  border-color:black;
  border-width: 2px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

button:hover {
  background-color: #555;
  color: white;
  transition: background-color .2s, color .2s;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-bottom: 10px;
}
